In [4]:
import pandas as pd
import chardet

In [5]:
with open("Resources/Minimum_Wage_Data.csv", "rb") as rawdata:
    result = chardet.detect(rawdata.read(1000))

print(result)

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

In [8]:
minimum_wage = "Resources/Minimum_Wage_Data.csv"
minimum_wage_df = pd.read_csv(minimum_wage, encoding="latin1") # Chris help, latin1 works to encode without errors
minimum_wage_df.head()

,Year,State,Table_Data,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,1968,Alabama,...,0.00000,0.00000,34.783333,0.00,0.00
1,1968,Alaska,2.1,2.10000,2.10000,34.783333,15.12,15.12
2,1968,Arizona,18.72 - 26.40/wk(b),0.66000,0.46800,34.783333,4.75,3.37
3,1968,Arkansas,1.25/day(b),0.15625,0.15625,34.783333,1.12,1.12
4,1968,California,1.65(b),1.65000,1.65000,34.783333,11.88,11.88

In [10]:
minimum_wage_df_start_clean = minimum_wage_df[['Year', 'State', 'Table_Data', 'High.Value', 'Low.Value']]
minimum_wage_df_start_clean.head()

   Year       State           Table_Data  High.Value  Low.Value
0  1968     Alabama                  ...     0.00000    0.00000
1  1968      Alaska                  2.1     2.10000    2.10000
2  1968     Arizona  18.72 - 26.40/wk(b)     0.66000    0.46800
3  1968    Arkansas          1.25/day(b)     0.15625    0.15625
4  1968  California              1.65(b)     1.65000    1.65000